# Entorno: DEVELOPMENT (desplegado)
# VITE_API_URL = dominio del BACKEND/API (no el del frontend).
# El frontend se sirve en dev-igualab.ingsoftware.lat y consume la API en:
VITE_API_URL=https://dev-bck-igualab.ingsoftware.lat
